*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
}

.basic{
    border: 1px solid black;
    background: rgb(83, 136, 4);
    color: black;
}

.everything-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.danger{
    border: 1px solid black;
    background: rgb(192, 69, 90);
    color: black;
}

.safe{
    border: 1px solid black;
    background: rgb(109, 109, 226);
    color: white;
}